button {
  align-items: center;
}


.App-header {
  width: 100%;
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 0%;
}
.inputter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

h1 {
  align-items: center;
}

.container{
  display:block;
  margin: 0 auto;
  text-align: left;
  padding: 1rem 2rem 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  min-width: 9rem;
  width: 50%;
  border: solid 13px rgb(0, 0, 0);
}
.locationText{
  font-weight: bold;
}

.App {
  text-align: center;
}

